.AdressPage-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 0 32px;
  color: var(--Text, #1c1c1e);
  font-family: Montserrat;
}

.AdressPage-caption {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.AdressPage-clue {
  margin: 16px 0 24px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.AdressPage-table {
  max-height: 660px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 1076px;
  padding: 24px;
  color: #000;
  font-family: Montserrat;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(2, 0, 97, 0.25);
  overflow-y: auto;
}

.AdreessPage-table-caption {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 16px 0;
}

.AdressPage-table-adress {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 0;
  border-top: 1px solid #d7d7d7;
}
.AdressPage-table-adress-link {
  color: #000;
}

@media (max-width: 520px) {
  .AdressPage-caption {
    font-size: 26px;
  }
  .AdressPage-clue {
    font-size: 16px;
  }
  .AdreessPage-table-caption {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 16px 0;
  }
  .AdressPage-table-adress {
    font-size: 16px;
  }
}
