.App {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "header header"
    "sidebar mainContent";
  position: relative;

  height: 100vh;
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 80px 1fr;
  }
}

@media (max-width: 520px) {
  .App {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 60px 1fr;
  }
}
