body {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
  height: 1024px;
}

code {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  height: 127px;
  background: #4f27bf;
  border-radius: 5px;
}

/* Firefox */
/* Note: Firefox does not support customizing scrollbar width */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f27bf transparent;
}
