.adressPage-table {
  max-height: 660px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 1076px;
  padding: 24px;
  color: #000;
  font-family: Montserrat;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(2, 0, 97, 0.25);
  overflow-y: auto;
}

.adreessPage-table-caption {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 16px 0;
}

.adressPage-table-adress {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 0;
  border-top: 1px solid #d7d7d7;
}
.adressPage-table-adress-link {
  color: #000;
}
